{% extends "base.html" %}

{% block content %}
  <h2>상세정보</h2>
  <p>작성자 : {{ post.user }}</p>
  <p>제목 : {{ post.title }}</p>
  <p>내용 : {{ post.content }}</p>
  <p>작성시각 : {{ post.created_at }}</p>
  <p>수정시각 : {{ post.updated_at }}</p>
  <a href="{% url "posts:update" post.pk%}">수정</a>
  <a href="{% url "posts:delete" post.pk%}">삭제</a>
  <hr>
  <h2>댓글</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.content }}</li>
      {% if request.user == comment.user %}
        <form action="{% url "posts:comments_delete" post.pk comment.pk %}" method='POST'>
          {% csrf_token %}
          <input type="submit" value='삭제'>
        </form>
      {% endif %}
    {% endfor %}
  </ul>
  <hr>
  <h2>댓글 작성</h2>
  <form action='{% url "posts:comments_create" post.pk %}' method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="작성">
  </form>
{% endblock content %}